
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/globalstyle.css" | absolute_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/stylesheet.css" | absolute_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/prism.css" | absolute_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | absolute_url }}">

    <script type="text/javascript" src="{{ "/assets/js/clipboard.min.js" | absolute_url }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/prism.js" | absolute_url }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<div class="header_img" >
        <a href="/" onfocus="this.blur()">
            <img src="https://transit7.cargocollective.com/1/11/376496/headerimg/12345sssa.jpg" height="48" width="196">
        </a>
</div>